version: 2
jobs:
  build:
    working_directory: ~/fabrix
    docker:
      - image: circleci/node:10.0.0
      - image: circleci/postgres:9.6.2-alpine
        environment:
          POSTGRES_DB: Sequelize
    steps:
      - checkout
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@5'
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install-npm-wee
          command: npm install
      - run:
          name: install-npm-sqlite
          command: npm install sqlite3@4.0.0
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: test
          command: 'npm test'
      - run:
          name: code-coverage
          command: './node_modules/.bin/nyc report --reporter=text-lcov'
      - store_artifacts:
          path: test-results.xml
          prefix: tests
      - store_artifacts:
          path: coverage
          prefix: coverage
      - store_test_results:
          path: test-results.xml
